# @brief GPIB, AMIGO, SS80 and device defines.
# @par Edit History - [1.0]   [Mike Gore]  Initial revision of file.
# @par Copyright &copy; 2017 Mike Gore, Inc. All rights reserved.
#
# Define 2 AMIGO and 2 SS80 drives
# See: scripts/create_everything.sh for updating drive types
# The Disk we create must match the definitions below
#
# ========================
# DEBUG FLAGS
# ========================
# Debug level truth table
# You can OR the following values together to add debug processing
# Values in the table are in HEX (base 16)
#
#    1 ERRORS - all GPIB and device related error message 
#    # Note: Will not suppress Startup and configuration errors 
#
#    2 PPR states
#
#    4 GPIB command and control byte messages
#
#    8 GPIB main loop command data and control line states
#
#    10 TODO DEVICE support states - ie missing code
#
#    20 DEVICE states, AMIGO,SS80,PRINTER
#
#    40 disk I/O read/write times
#
#    80 GPIB read/write string timeing
#
#    100 GPIB read / write string byte decode
#
#    200 Parallel Poll bus status debug
#
#    400 LIF utitilites debugging
#
# Debug settings Examples:
#  Most usefull debuggging messages
#     (1+2+8+10+20)
#  DEBUG = 0x3D
#  Main device states and errors only
#     (1+2+10+20)
#  DEBUG = 0x33
#  Main device states and errors only
#     (1+2+10+20)
#  DEBUG = 0x33
# Errors and TODO messages only
#     (1+10)
#  DEBUG = 0x11

# DEFAULT - just report errors and TODO
# NOte - for the following drives the TODO messages you will see are harmless
DEBUG  = 0x1


# ========================
# PRINTERS 
# ========================

# PRINTER Definition 1
#
# Note printer reception is now fully automatic
# Captures a plot with todays date as set by the DS1307 RTC on the AVR
# Captures PLIST data so you can export programs listings:
#   PRINTER IS 705
#   PLIST
# Use "test" command in gpib_tests()
PRINTER
    CONFIG
            # GPIB Address
        ADDRESS                 = 5
            # NO PPR
    END
END
# HP9121 dual 270K AMIGO floppy disc
# HP85 BASIC ADDRESS :D700
AMIGO 9121
    HEADER
            # GPIB Address
        ADDRESS                 = 0
            # Parallel Poll Reponse Bit
        PPR                     = 0
            # LIF image file name
        FILE                    = /amigo0.lif
    END

    CONFIG
            # Request Identify ID
        ID                      = 0x0104
    END

    GEOMETRY
            # Bytes Per Block
        BYTES_PER_SECTOR        = 256
            # Sectors Per Track
        SECTORS_PER_TRACK        = 16
            # Heads
        HEADS                   = 2
            # Cylinders
        CYLINDERS               = 35
            # BLOCKS = CYLINDERS * HEADS * SECTORS
            # BLOCKS = 1120
    END

#   RESERVED DIRECTORY BLOCKS = 32
END

# HP9121 dual 270K AMIGO floppy disc
# HP85 BASIC ADDRESS :D710
AMIGO 9121
    HEADER
            # GPIB Address
        ADDRESS                 = 1
            # Parallel Poll Reponse Bit
        PPR                     = 1
            # LIF image file name
        FILE                    = /amigo1.lif
    END

    CONFIG
            # Request Identify ID
        ID                      = 0x0104
    END

    GEOMETRY
            # Bytes Per Block
        BYTES_PER_SECTOR        = 256
            # Sectors Per Track
        SECTORS_PER_TRACK        = 16
            # Heads
        HEADS                   = 2
            # Cylinders
        CYLINDERS               = 35
            # BLOCKS = CYLINDERS * HEADS * SECTORS
            # BLOCKS = 1120
    END

#   RESERVED DIRECTORY BLOCKS = 32
END

# HP9134D 15MB SS/80 Winchester disc
# HP85 BASIC ADDRESS :D720
SS80 9134D
    HEADER
          # GPIB Address
        ADDRESS                 = 2
          # Parallel Poll Reponse Bit
        PPR                     = 2
          # LIF image file name
        FILE                    = /ss80-0.lif
    END

    CONFIG
          # Request Identify ID
        ID                      = 0x0222
    END

    CONTROLLER
          # Units Installed - we only do 1
        UNITS_INSTALLED         = 0x8001
          # Default Transfer Rate
        TRANSFER_RATE           = 744
          # Single Unit COntroller
        TYPE                    = 4
    END

    UNIT
            # Generic Unit Type, 0 = fixed, 1 = floppy, 2 = tape
            # OR with 128 implies dumb can not detect media change
        UNIT_TYPE               = 0
            # BCD Device number XX XX XY, X=Unit, Y=option
        DEVICE_NUMBER           = 0x00091340
            # Bytes Per Block
        BYTES_PER_BLOCK         = 256
            # Bytes Per Block
        BUFFERED_BLOCKS         = 1
            # Burst size = 0 for SS80
        BURST_SIZE              = 0
            # Continuous average transfer rate for long transfers kB/s
        BLOCK_TIME              = 500
             # Optimal retry time in 1O's of milliseconds
        CONTINOUS_TRANSFER_RATE = 140
            # Optimal retry time in 1O's of milliseconds
        OPTIMAL_RETRY_TIME      = 10000
            # Access time parameter in 1O's of milliseconds
        ACCESS_TIME             = 10000
            # Maximum Interleave factor
        MAXIMUM_INTERLEAVE      = 31
            # Fixed volume byte; one bit per volume (set if fixed)
        FIXED_VOLUMES           = 1
            # Removable volume byte; one bit per volume (set if removable)
        REMOVABLE_VOLUMES       = 1
    END

    VOLUME
            # Maximum Cylinder = 302 = CYLINDERS-1 not used
        MAX_CYLINDER            = 0
            # Maximum Head      = 5 = HEADS-1 not used
        MAX_HEAD                = 0
            # Maximum Sector    = 31 = SECTORS-1 not used
        MAX_SECTOR              = 0
            # Maximum value of single vector address in blocks.
            #   NOTE: For devices that use both MAX_BLOCK_NUMBER and CYLINDER,HEAD,SECTOR
            #   Note: The follow expressions must be true if BOTH CHS and BLOCKS are used
            #   MAX_BLOCK_NUMBER = (MAX_CYLINDERS+1) * (MAX_HEAD+1) * (MAX_SECTOR+1) -1;
            #   BLOCKS = CYLINDERS * HEADS * SECTORS -1
            #   MAX_BLOCK_NUMBER  = BLOCKS -1
            #   BLOCKS = 58176
        MAX_BLOCK_NUMBER        = 58175
            # Current Interleave Factor
        INTERLEAVE              = 31
    END

#   RESERVED DIRECTORY BLOCKS = 256
END

# HP9134D 15MB SS/80 Winchester disc
# HP85 BASIC ADDRESS :D730
SS80 9134D
    HEADER
          # GPIB Address
        ADDRESS                 = 3
          # Parallel Poll Reponse Bit
        PPR                     = 3
          # LIF image file name
        FILE                    = /ss80-1.lif
    END

    CONFIG
          # Request Identify ID
        ID                      = 0x0222
    END

    CONTROLLER
          # Units Installed - we only do 1
        UNITS_INSTALLED         = 0x8001
          # Default Transfer Rate
        TRANSFER_RATE           = 744
          # Single Unit COntroller
        TYPE                    = 4
    END

    UNIT
            # Generic Unit Type, 0 = fixed, 1 = floppy, 2 = tape
            # OR with 128 implies dumb can not detect media change
        UNIT_TYPE               = 0
            # BCD Device number XX XX XY, X=Unit, Y=option
        DEVICE_NUMBER           = 0x00091340
            # Bytes Per Block
        BYTES_PER_BLOCK         = 256
            # Bytes Per Block
        BUFFERED_BLOCKS         = 1
            # Burst size = 0 for SS80
        BURST_SIZE              = 0
            # Continuous average transfer rate for long transfers kB/s
        BLOCK_TIME              = 500
             # Optimal retry time in 1O's of milliseconds
        CONTINOUS_TRANSFER_RATE = 140
            # Optimal retry time in 1O's of milliseconds
        OPTIMAL_RETRY_TIME      = 10000
            # Access time parameter in 1O's of milliseconds
        ACCESS_TIME             = 10000
            # Maximum Interleave factor
        MAXIMUM_INTERLEAVE      = 31
            # Fixed volume byte; one bit per volume (set if fixed)
        FIXED_VOLUMES           = 1
            # Removable volume byte; one bit per volume (set if removable)
        REMOVABLE_VOLUMES       = 1
    END

    VOLUME
            # Maximum Cylinder = 302 = CYLINDERS-1 not used
        MAX_CYLINDER            = 0
            # Maximum Head      = 5 = HEADS-1 not used
        MAX_HEAD                = 0
            # Maximum Sector    = 31 = SECTORS-1 not used
        MAX_SECTOR              = 0
            # Maximum value of single vector address in blocks.
            #   NOTE: For devices that use both MAX_BLOCK_NUMBER and CYLINDER,HEAD,SECTOR
            #   Note: The follow expressions must be true if BOTH CHS and BLOCKS are used
            #   MAX_BLOCK_NUMBER = (MAX_CYLINDERS+1) * (MAX_HEAD+1) * (MAX_SECTOR+1) -1;
            #   BLOCKS = CYLINDERS * HEADS * SECTORS -1
            #   MAX_BLOCK_NUMBER  = BLOCKS -1
            #   BLOCKS = 58176
        MAX_BLOCK_NUMBER        = 58175
            # Current Interleave Factor
        INTERLEAVE              = 31
    END

#   RESERVED DIRECTORY BLOCKS = 256
END

